
.wrapper {
    max-width: 600px;
}

.wrapper-item {
    width: 100%;
}

.form-inline .form-control {
    width: auto !important;
    display: inline !important;
}

.deleteBtn, .top-menu {
    float: right;
}

#todoitter-title, .top-menu {
    display: inline !important;
}

#todoitter-title a {
    text-decoration: none;
}

.top-menu > li {
    display: inline;
    text-decoration: none;
}

.top-bar {
    margin: 20px auto 0;
}

.categories .body-header {
    padding: 13px 5px;
}

.body-header a {
    color: #555;
}

.body-header a:hover {
    color: #000;
    text-decoration: none;
}

.body-header h4 {
    vertical-align: middle;
    padding: 5px 2px;
}

.body-header-content {
    display: inline;
}

ul.list-group li.list-group-item:hover {
    background-color: #eee;
}

li.list-group-item a {
    text-decoration: none;
    color: #000;
}

.deleteBtn {
    color: #666;
}

.deleteBtn a:hover {
    color: #cb0200;
}

.editBtn {
    top: 7px;
    position: relative;
}

/*Auth*/

.body-signup {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signup-heading {
    margin-top: 0;
}

.form-signup-control {
    position: relative;
    box-sizing: border-box;
    height: auto !important;
    padding: 10px !important;
    font-size: 16px !important
}

.btn-signup {
    color: #fff;
    background-color: #1fa0bf;
    border-color: #1fa0bf;
}

#signup-link {
    text-align: center;
    margin: 7px;
}

/* Modal */
.modal-title {
    display: inline;
}