<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Categories | Todoitter</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" /></head>
<body>

<div class="top-bar container">
    <h2 id="todoitter-title"><a th:href="@{/}">Todoitter</a></h2>
    <ul class="top-menu">
        <li id="welcome-msg">Welcome, <span th:text="${member.username}">Member!</span></li>
        <li><a id="logout-btn" th:href="@{/logout}">Logout</a></li>
    </ul>
</div>

<div class="container">
    <table class="table table-hover">
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}">カテゴリー名</td>
            <td><a th:href="@{'/categories/' + ${category.id} + '/todos'}"><button type="button" class="btn btn-warning">Go</button></a></td>
            <td><a th:href="@{/categories/{id}/delete(id=${category.id},_method=delete)}"><button type="button" class="btn btn-danger deleteBtn">delete</button></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form method="post" class="form-inline" th:action="@{/categories/}" th:object="${category}">
        <input type="text" class="form-control" placeholder="Category" th:field="*{name}"/>
        <button type="submit" class="btn btn-primary">Add</button>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
    </form>
</div>

<br>

<div class="container panel-wrapper">
    <div class="panel panel-default" th:each="category:${categories}">
        <div class="panel-heading">
            <h5 th:text="${category.name}"></h5>
        </div>
        <div class="panel-body">
            <div class="list-group" th:each="todo:${category.todos}">
                <a class="list-group-item" th:text="${todo.content}"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>