<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todoitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<h2 class="container">Todoitter</h2>

<div class="container">
    <table class="table">
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}">カテゴリー名</td>
            <td><a th:href="@{'/' + ${category.id}}"><button type="button" class="btn btn-warning">Go</button></a></td>
            <td><a th:href="@{/{id}/delete(id=${category.id},_method=delete)}"><button type="button" class="btn btn-danger">delete</button></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form method="post" class="form-inline" th:action="@{/}" th:object="${category}">
        <input type="text" class="form-control" placeholder="Category" th:field="*{name}"/>
        <button type="submit" class="btn btn-primary">Add</button>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
    </form>
</div>

</body>
</html>