<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Categories | Todoitter</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" /></head>
<body>

<div class="wrapper container-fluid">
    <div class="top-bar wrapper-item">
        <h2 id="todoitter-title"><a th:href="@{/}">Todoitter</a></h2>
        <ul class="top-menu">
            <li id="welcome-msg">Welcome, <span th:text="${member.username}">Member!</span></li>
            <li><a id="logout-btn" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>

    <div class="categories wrapper-item">
        <ul class="list-group">
            <li class="list-group-item" th:each="category : ${categories}">
                <a th:href="@{'/categories/' + ${category.id} + '/todos'}" th:text="${category.name}"></a>
                <span class="deleteBtn"><a class="glyphicon glyphicon-remove" th:href="@{/categories/{id}/delete(id=${category.id},_method=delete)}"></a></span>
            </li>
        </ul>
    </div>

    <div class="input-categories wrapper-item">
        <form method="post" class="form-inline" th:action="@{/categories/}" th:object="${category}">
            <input type="text" class="form-control" placeholder="Category" th:field="*{name}" autocomplete="off"/>
            <button type="submit" class="btn btn-primary form-control">Add</button>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>