<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>Todo | Todoitter</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <!--<script type="text/javascript" th:src="@{/js/main.js}"></script>-->
</head>
<body>

<div class="wrapper container-fluid">
    <div class="top-bar wrapper-item">
        <h2 id="todoitter-title"><a th:href="@{/}">Todoitter</a></h2>
        <ul class="top-menu">
            <li id="welcome-msg">Welcome, <span th:text="${member.username}">Member!</span></li>
            <li><a id="logout-btn" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>

    <div class="todos wrapper-item">
        <div class="wrapper-item">
            <a th:href="@{/}"><button class="btn btn-default backBtn glyphicon glyphicon-chevron-left"></button></a>
        </div>
        <h5 th:text="'Category: '+${category.name}"></h5>
        <ul class="list-group">
            <li class="list-group-item" th:each="todo : ${todos}" th:onclick="'window.location.href = \'' + @{/categories/{category_id}/todos/describe/{id}(category_id=${todo.category.getId()}, id=${todo.id})} + '\''">
                <span th:text="${todo.content}"></span>
                <span class="deleteBtn">
                    <a class="glyphicon glyphicon-remove" th:href="@{/categories/{category_id}/todos/{id}(category_id=${todo.category.getId()}, id=${todo.id},_method=delete)}"></a>
                </span>
            </li>
        </ul>
    </div>

    <div class="input-todos wrapper-item">
        <form method="post" class="form-inline" th:action="@{'/categories/' + ${category_id} + '/todos'}" th:object="${todo}">
            <input type="text" class="form-control" placeholder="Todo" th:field="*{content}" autocomplete="off"/>
            <input type="datetime-local" class="form-control" th:field="*{dueDate}" value="2000-07-01T12:00"/>
            <button type="submit" class="btn btn-primary">Add</button>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </form>
    </div>

</div>
</body>
</html>