<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo | Todoitter</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" /></head>
<body>

<h2 class="container"><a th:href="@{/}">Todoitter</a></h2>

<div class="container">
    <table class="table table-hover">
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.content}">Todoが入ります</td>
            <td th:text="${todo.dueDate}">DueDateが入ります</td>
            <td><a th:href="@{/categories/{category_id}/todos/{id}(category_id=${todo.category.getId()}, id=${todo.id},_method=delete)}"><button type="button" class="btn btn-danger deleteBtn">delete</button></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form method="post" class="form-inline" th:action="@{'/categories/' + ${category_id} + '/todos'}" th:object="${todo}">
        <input type="text" class="form-control" placeholder="Todo" th:field="*{content}"/>
        <input type="datetime-local" class="form-control" th:field="*{dueDate}"/>
        <button type="submit" class="btn btn-primary">Add</button>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
    </form>
</div>

</body>
</html>